:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* Links */
a {
  text-decoration: inherit;
}

/* Remove button styles (Chakra UI will handle this) */
button {
  all: unset;
  cursor: pointer;
}

/* Remove dark/light mode CSS since Chakra UI's ThemeProvider handles this */
